
 *{
    list-style: none;
     }
    
    .nav{
    
    height: 100px;
    
    }
     .nav__ul {
    
      display: inline-block;
    
      color: white;
      position: relative;
      
      margin-left: 300px;
      margin-top:40PX;
    
    }
    
    .nav__li{
    
      display: inline-block;
    }
    
    
    
    .nav__li:hover > a {
    
        color: rgb(177, 238, 236);
    }
    
    .nav__li:hover {
    
        color: rgb(177, 238, 236);
        transition: 0.2s;
     
    
    }
    
    .nav__li a {
    
    color: white;
    text-decoration: none;
    margin-right: 40px;
    
    
    
    }
    
    .nav__li i{
    
        
        box-sizing: border-box;
        text-align:  center;
      margin-right: 8px;
      position: relative;
        
    
    }
    
      html,body{
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      background-color: rgb(255, 255, 255);
    
     }

     .Menu{  
        background-color: rgb(0, 0, 0)  ;
        padding: 0px;
        border-style: solid;
        border-color: rgb(194, 186, 240)  ;;
        font-family: 'Secular One', sans-serif;
        font-size: 20px;
        position: relative;
        
       }
    
    
       
        #logo{
    
          position: absolute;
          width: 100px;
          height: 100px;
          margin-bottom: 0px;
    
    
        }
    
        #titulo{
          display: inline-flex;
          position: absolute;
          margin-left: 120px;
          color: azure;
    
    
        } 

        #titulo2{
            
            text-align: center;
            color: rgb(113, 126, 126);
            font-family: 'Secular One';
      
      
          } 
    
        
          .containerForm{

            text-align: center;
            font-family: 'Secular One', sans-serif;
            border-style: solid;
            border-color: rgb(154, 207, 179);
          }
        
          .containerButton{
        
            position: relative;
            margin-top: 50px;
          }  

         